.navbar {

    @media (max-width: 768px) {
        display: none;
      }
    

    height: 8vh;
    background-color: #120920;
    display: flex;
    justify-content: space-around;

    .logo--container {
        display: flex;
        margin-top: 10px;
        justify-content: center;
        align-items: center;

        img {
            height: 80%;
            width: 250px;
            &:hover{
                scale: 1.1;
                transition-duration: 0.5s;
                cursor: pointer;
            }

        }
        


    }


    .button--group {
        display: flex;
        margin-top: 10px;
        font-size: 16px;

        .navbutton {
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            color: white;
            border: none;

            &:hover{
                color: #FFDB5C;
                scale: 1.1;
                transition-duration: 0.5s;
                cursor: pointer;
               
            }


        }

        .navbar-dropdown {
            position: relative;
            display: flex;

            .dropdown-toggle {
                background: none;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                cursor: pointer;
                &:hover{
                    color: #FFDB5C;
                    scale: 1.1;
                    cursor: pointer;
                    transition-duration: 0.5s;
                   
                }
                padding: 10px;
            }

            .dropdown-menu {
                position: absolute;
                top: calc(100% + 10px);
                left: 50%;
                width: 700px;
                transform: translateX(-50%);
                background-color: #fff;
                border-radius: 4px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                padding: 10px;
                display: none;
                z-index: 99;

                >div{
                    border-bottom: 1px solid #12092010;
                    display: flex;
                    flex: 24;
                    font-size: 24px;
                    font-weight: 700;
                    color: #120920;
                    align-items: center;

                }

                .dropdown-column {
                    display: inline-block;
                    vertical-align: top;
                    width: 50%; // Adjust as needed
                    padding: 0 10px;

                    li {
                        border-bottom: 1px solid #12092010;
                        
                        margin-top: 10px;
                        font-size: 16px;
                        list-style: none;
                        padding: 5px 0;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        gap: 20px;
                        background-color: white;

                        img{
                            height: 50px;
                            width: 50px;
                        }

                        div{
                            p:nth-child(2){
                                font-size: 14px;
                            }
                        }


                        &:hover {
                            background-color: white;
                        }
                    }
                }
            }

            .dropdown-menu:after {
                content: '';
                position: absolute;
                bottom: 100%; /* Position the tooltip above the dropdown */
                left: 50%;
                margin-left: -5px; /* Adjust according to your tooltip size */
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent #fff transparent;
              }

            &.open {
                .dropdown-menu {
                    display: block;
                }
            }
        }











    }

    .login--demo--container {
        display: flex;
        font-size: 16px;
        margin-top: 10px;
        justify-content: center;
        align-items: center;

        .login--button {
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            color: white;
            border: none;
            font-weight: 500;
            &:hover{
                color: #FFDB5C;
                scale: 1.1;
                transition-duration: 0.5s;
                cursor: pointer;
               
            }

        }

        .request--button {
            width: 200px;
            height: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            color: white;
            border: 1px solid white;
            border-radius: 99rem;
            &:hover{
                color: #FFDB5C;
                scale: 1.1;
                transition-duration: 0.3s;
                cursor: pointer;
               
            }




        }

    }
}